

/* filter  ---------------------------------------------------start--------------------*/ 
.filter-dropdown {
    font-family: Arial, sans-serif;
  }
  
  .filter-section {
    padding: 10px 0;
  }
  
  .filter-section h4 {
    font-family: 'openSansB';
    font-size: 20.38px;
    font-weight: 500;
    line-height: 10.61px;
    text-align: left;
    padding: 23px 0px 10px;
  }
  
  .dropdown-content {
    margin-top: 10px;
  }
  .filter-search-wrapper {
    position: relative;
    padding: 5px 0px 15px;
}
  .search-box {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 26px;
    padding: 10px 13px 10px 3rem;
    box-shadow: inset 0px 0px 22px 0px #8080808f; 
   }
  .filter-search-wrapper img {
    position: absolute;
    width: 25px;
    top: 14px;
    left: 14px;
}
  .checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px 0px 0px 23px;
    font-family: 'openSans';
    font-size: 14.51px;
    font-weight: 400;
    color: rgba(133, 133, 133, 1);
    line-height: 20.83px;
  }
  
  .checkbox-item input {
    margin-right: 10px;
  }
  
  .price-range input {
    width: 100%;
    margin-bottom: 5px;
  }
  
  .range-slider .range-slider__thumb {
    position: absolute;
    z-index: 3;
    top: 50%;
    width: 15px !important;
    height: 15px !important;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: linear-gradient(90deg, #F16522 0%, #EB008B 100%) !important;
}
.range-slider .range-slider__range {
  position: absolute;
  z-index: 1;
  transform: translate(0, -50%);
  top: 50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #F16522 0%, #EB008B 100%) !important;
}
.range-slider {
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  height: 6px !important;
  background: #ddd;
  border-radius: 4px;
}
.filter-price-text {
  display: flex;
  justify-content: space-between;
}
.filter-titles-and-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-price-text p {
  margin: 12px 0px 0px 0px;
  font-size: 14px;
  color: rgba(133, 133, 133, 1);
}
/* filter  ---------------------------------------------------end--------------------*/ 